body {
  margin: 0;
}
section {
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  width: 900px;
}

.site-navigation {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
  font-size: 0px;
  margin: 75px 0px 105px;
}

.site-navigation li {
  display: inline-block;
  margin-left: 125px;
}

.site-navigation a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  color: rgb(98, 98, 98);
}

.site-navigation a:hover {
  color: rgb(37, 180, 245);
}

section {
  font-size: 0px;
}
.format {
  width: 420px;
  height: auto;
  display: inline-block;
  font-size: 14px;
  color: rgb(98, 98, 98);
  margin-bottom: 140px;
}

.format:nth-last-child(-n + 4) {
  margin-bottom: 60px;
}

.format:not(:nth-child(2n)) {
  margin-right: 60px;
}

.text-color {
  color: rgb(180, 173, 158);
}

.my-button {
  display: block;
  padding: 25px 40px;
  border: 1px solid rgb(98, 98, 98);
  background-color: #fff;
  color: rgb(98, 98, 98);
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
}

.my-button:focus {
  outline: none;
}

.my-button:hover {
  color: rgb(37, 180, 245);
  border: 2px solid rgb(37, 180, 245);
}
